<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        2014 &copy; 爱屋吉屋. All right reserved.
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="$!static.getURL("assets/plugins/respond.min.js")"></script>
<script src="$!static.getURL("assets/plugins/excanvas.min.js")"></script>
<![endif]-->
<script src="$!static.getURL("assets/plugins/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
<script src="$!static.getURL("assets/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="$!static.getURL("assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
<script src="$!static.getURL("assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
<script src="$!static.getURL("assets/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="$!static.getURL("assets/plugins/jquery.cokie.min.js")" type="text/javascript"></script>
<script src="$!static.getURL("scripts/noty/packaged/jquery.noty.packaged.min.js")"></script>
<!--script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script-->
<script type="text/javascript" src="$!static.getURL("assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")"></script>
<!-- END CORE PLUGINS -->
<script src="$!static.getURL("assets/scripts/core/iw-comp.js")" type="text/javascript"></script>
<script src="$!static.getURL("assets/scripts/core/app.js")" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
    function dateFormatter(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
        return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
    }
    function dateParser(s){
        if (!s) return new Date();
        var ss = (s.split('-'));
        var y = parseInt(ss[0],10);
        var m = parseInt(ss[1],10);
        var d = parseInt(ss[2],10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d)){
            return new Date(y,m-1,d);
        } else {
            return new Date();
        }
    }
    //判断是否为手机号，判断规则为是否为有效的11位数字
    function ismobile(num) {
        if (!num || num.length != 11)
            return false;
        var strp = /^\d+$/;
        return strp.test(num);
    }
    //判断是否为有效邮箱名
    function isemail(date) {
        var mail = $.trim(date);
        var empattern = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
        return empattern.test(mail);
    }
    //验证是否为有效密码，验证规则为6~20位字符
    function ispassword(pwd) {
        return pwd.length >= 6 && pwd.length <= 20;
    }
    //验证是否为数字
    function isNum(num){
        return !isNaN(num);
    }
    //验证是否为整形数字
    function isInteger( str ){
        var regu = /^[-]{0,1}[0-9]{1,}$/;
        return regu.test(str);
    }
    //判断是否未定义
    function isundefined(params){
        return typeof(params)=="undefined";
    }


    //提取url中的参数
    function geturlp(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return null;
    }
    //将未定义数值转换为0
    function undefined2int(param) {
        if (typeof (param) == 'undefined')
            return 0;
        else
            return param;
    }
    //将未定义数值转换为空字符串
    function undefined2empty(param) {
        if (typeof (param) == 'undefined')
            return '';
        else
            return param;
    }
</script>
<script type="text/javascript" src="$!static.getURL("easyui/jquery.easyui.min.js")"></script>
<script type="text/javascript" src="$!static.getURL("easyui/locale/easyui-lang-zh_CN.js")"></script>
<script type="text/javascript" src="$!static.getURL("easyui/jquery.easyui.patch.js")"></script>
<!-- END JAVASCRIPTS -->
###parse("/common/growing.vm")