###parse("/tpl/common/constants.vm")
<!DOCTYPE html>
<html>
<html lang="en" class="no-js">
<script type="text/javascript" src="/static/admin/js/sockjs.min.js" ></script>
<script type="text/javascript" src="/static/admin/js/stomp.js" ></script>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        var stompClient = null;
        // let socket = new SockJS("http://control.yqguan.com/manage/message");
        var socket = new SockJS("http://control.uanguang.co.id/manage/message");
//				let socket = new SockJS("http://control.uanguang.id/manage/message");
        // let socket = new SockJS("http://192.168.0.133:8088/manage/message");
        stompClient = Stomp.over(socket);
        stompClient.connect({}, (frame) = > {
            // console.log(frame);
            stompClient.subscribe('/topic/collectionMessage', (greeting) = > {
//            this.showGreeting(greeting);
//            alert(greeting);
        });
    });
    })
</script>

</html>